<!-- Label to display any error messages -->
<label>{{ errMessage }}</label>

<!-- Expansion panel to add new notes -->

<div class ="note-taker-panel">
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Reminder CRUD Operations
      </mat-panel-title>
    </mat-expansion-panel-header>


      <div class="note-taker-form">
        <mat-form-field>
          <input matInput placeholder="Reminder name" [(ngModel)] = "reminder.reminderName" name="reminderName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Reminder Description" [(ngModel)] = "reminder.reminderDescription" name="reminderDescription">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Reminder Type" [(ngModel)] = "reminder.reminderType" name="reminderType">
        </mat-form-field>
        <div class="click">
            <i class="material-icons" (click)="addReminder()" title="Add">add</i>
        </div>
      </div>

 </mat-expansion-panel>
</div> 
